version: '3.8'

services:
  db:
    image: postgres:16-alpine
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  server:
    build:
      context: .
      args:
          GIT_COMMIT: ${GIT_COMMIT}
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=db
      - CERT_FILE=/app/cert.pem
      - KEY_FILE=/app/key.pem
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
    volumes:
      - ./uploads:/uploads
      - ./key.pem:/app/key.pem
      - ./cert.pem:/app/cert.pem

volumes:
  db_data:
    driver: local
